{% for n in range(1, ocp4_workload_cloud_architecture_workshop_user_count | int + 1 ) %}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: keycloak-realm-{{ ocp4_workload_cloud_architecture_workshop_keycloak_realm_prefix }}{{ocp4_workload_cloud_architecture_workshop_user_prefix}}{{ n }}
  namespace: {{ ocp4_workload_cloud_architecture_workshop_keycloak_application_namespace }}
  finalizers:
  - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    name: ""
    namespace: {{ ocp4_workload_cloud_architecture_workshop_keycloak_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
  source:
    repoURL: {{ ocp4_workload_cloud_architecture_workshop_keycloak_gitops_repo }}
    targetRevision: {{ ocp4_workload_cloud_architecture_workshop_keycloak_gitops_repo_tag }}
    path: {{ ocp4_workload_cloud_architecture_workshop_keycloak_realm_import_gitops_repo_path }}
    helm:
      values: |
        nameOverride: keycloak-realm-import-{{ocp4_workload_cloud_architecture_workshop_user_prefix}}{{ n }}
        keycloak:
          name: {{ ocp4_workload_cloud_architecture_workshop_keycloak_custom_resource_name }}
        realm:
          name: {{ ocp4_workload_cloud_architecture_workshop_keycloak_realm_prefix }}{{ocp4_workload_cloud_architecture_workshop_user_prefix}}{{ n }}
          globexWebGatewayContainerId: "{{ lookup('password', '/dev/null chars=ascii_letters,15')  | to_uuid }}"
          clientRealmManagementContainerId: "{{ lookup('password', '/dev/null chars=ascii_letters,15') | to_uuid }}"
          clientBrokerContainerId: "{{ lookup('password', '/dev/null chars=ascii_letters,15') | to_uuid }}"
          accountContainerId: "{{ lookup('password', '/dev/null chars=ascii_letters,15') | to_uuid }}"
        hook:
          maxTimeToWait: 120000        
{% endfor %}